version: "3.9"

services:

#  web:
#    build: .
#    container_name: django_app
#    command: >
#      sh -c "
#      python manage.py migrate &&
#      gunicorn ecommerce_mini.wsgi:application --bind 0.0.0.0:8000
#      "
#    volumes:
#      - .:/app
#    ports:
#      - "8000:8000"
#    env_file:
#      - .env
#    environment:
#      DB_NAME: djrestdb
#      DB_USER: postgres
#      DB_PASSWORD: postgres
#      DB_HOST: db
#      DB_PORT: 5432
#    depends_on:
#      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: djrestdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
